.carousel {
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    &__viewport {
        flex: 1 1 auto;
        overflow: hidden;
    }

    &__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
    }

    &__slide {
        transform: translate3d(0, 0, 0);
        flex: 0 0 100%;
        min-width: 0;
    }
}

.carousel_thumbs {
    border-top: 1px solid var(--mantine-color-default-border);

    &__viewport {
        overflow: hidden;
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

/* В вашем CSS-модуле */
.progress {
    height: 4px;
    background-color: var(--mantine-color-gray-3);
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.progressBar {
    height: 100%;
    background: red;
    transition: width 0.1s ease-out;
}
